<mat-toolbar class="mat-elevation-z1 app-bar">
  <layout-container>
    <div class="toolbar-inner">
      <button
        mat-icon-button
        class="navbar-toggle-button hide-gt-md"
        *ngIf="!rightNavbar"
        (click)="toggleSidebarOpen('navbar')"
      >
        <mat-icon class="secondary-text">menu</mat-icon>
      </button>

      <ng-container *ngIf="type === 'vertical'">
        <forgerock-customer-icon class="hide-gt-md"></forgerock-customer-icon>
        <span class="logo-text hide-gt-md">{{ clientName }}</span>
      </ng-container>

      <ng-container *ngIf="type === 'horizontal'">
        <forgerock-customer-icon></forgerock-customer-icon>
        <span class="logo-text">{{ clientName }}</span>
      </ng-container>

      <div style="flex: 1;"></div>

      <ng-template #dynamicTarget></ng-template>
    </div>
  </layout-container>
</mat-toolbar>
