.toolbar-inner {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hide-gt-md {
  @media (min-width: 960px) {
    display: none !important;
  }
}

@mixin forgerock-main-layout-toolbar-theme($theme) {
  $appbar-bg-color: mat.get-theme-color($theme, primary, 800);
  $appbar-color: mat.get-theme-color($theme, primary, default-contrast);

  mat-toolbar.app-bar {
    background-color: $appbar-bg-color;
    color: $appbar-color;
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;

    @include media-breakpoint-down('xs') {
      padding: 0 8px;
    }

    &.below {
      z-index: 2;
    }

    .mat-toolbar {
      position: relative;
      background: inherit;
      color: inherit;
    }

    .navbar-toggle-button {
      min-width: 56px;
      height: 56px;
      mat-icon {
        color: $appbar-color;
      }
    }

    .toolbar-separator {
      height: 64px;
      width: 1px;
      background: rgba(0, 0, 0, 0.12);

      @include media-breakpoint-down('xs') {
        height: 56px;
      }
    }

    .logo-text {
      margin-left: 12px;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0.4px;
      line-height: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
