.submit-row {
  display: flex;
  flex-direction: row;

  .paymentButton {
    flex: 1;
  }
}

:host {
  ::ng-deep button[type='submit'] .mdc-button__label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    mat-spinner {
      margin-right: 10px;
    }
  }
}
