@use '@angular/material' as mat;
@use 'variables' as *;
@use 'all-theme' as *;
@use 'mixins/cssvars' as *;

$_primary: mat.m2-define-palette($primary-palette);
$_accent: mat.m2-define-palette($accent-palette, 600, 400, 700);
$_warn: mat.m2-define-palette($warn-palette);

$theme: mat.m2-define-dark-theme((
  color: (
    primary: $_primary,
    accent: $_accent,
    warn: $_warn,
  ),
  typography: $typography,
  density: 0,
));

@include foregrock-material-theme($theme);
@include mat.all-component-typographies($typography);

// CSS VARS
$css-vars-use-native: true;
$css-vars-debug-log: false;
$cssVarsAndTheme: getCssVarsAndTheme(
  $is-dark,
  $primary-palette,
  $accent-palette,
  $warn-palette,
  $foreground-palette,
  $background-palette
);
