@use '@angular/material' as mat;

$typography: mat.define-legacy-typography-config(
  $input: mat.define-typography-level(16px, 1.125, 400)
) !default;

// $is-dark: false !default;
// $primary-palette: mat.$blue-grey-palette !default;
// $accent-palette: mat.$light-blue-palette !default;
// $warn-palette: mat.$red-palette !default;
// $foreground-palette: mat.$light-theme-foreground-palette !default;
// $background-palette: mat.$light-theme-background-palette !default;

$light-dividers: rgba(black, 0.12);
$light-disabled-text: rgba(black, 0.38);
$light-secondary-text: rgba(black, 0.54);

$is-dark: true;
$primary-palette: mat.$gray-palette;
$accent-palette: mat.$deep-orange-palette;
$warn-palette: mat.$red-palette;
$foreground-palette: (
  base: white,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba(white, 0.3),
  disabled-text: $light-disabled-text,
  hint-text: $light-disabled-text,
  secondary-text: lighten($light-secondary-text, 30),
  icon: white,
  icons: white,
  text: white,
  slider-min: white,
  slider-off: rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3)
);
$background-palette: mat.$dark-theme-background-palette;
