@use '@angular/material' as mat;
@use 'mixins/breakpoints' as *;

@mixin forgerock-alert-component-theme($theme) {
  forgerock-alert {
    display: block;
    padding: 20px;
    background-color: mat.get-theme-color($theme, background, background);
    color: mat.get-theme-color($theme, foreground, text);

    &.primary {
      background-color: mat.get-theme-color($theme, primary, 800);
      color: white;
    }
    &.accent {
      background-color: mat.get-theme-color($theme, accent, 800);
      color: white;
    }
    &.warn {
      background-color: mat.get-theme-color($theme, warn, 800);
      color: white;
    }
  }
}
