@use 'sass:map';
@use '@angular/material' as mat;
@use 'mixins/strings' as *;

@function mat-color($palette-primary, $hue: default, $opacity: null) {
  @if type-of($hue) == number and $hue >= 0 and $hue <= 1 {
    @return mat-color($palette-primary, default, $hue);
  }

  $color: map.get($palette-primary, $hue);

  $opacity: if($opacity == null, opacity($color), $opacity);

  @if type-of($opacity) == string {
    $new-string: str-replace($color, ')', '-alpha, 1)');
    @return rgba($color, $new-string);
  }
  @return rgba($color, $opacity);
}

@function hexToRGB($color) {
  @return (red($color), green($color), blue($color));
}

@function preparePaletteToUseCSSVars($palette, $prefix) {
  @return (variables: paletteToCSSVars($palette, $prefix), palette: paletteToPaletteCssVars($palette, $prefix));
}

@function paletteToCSSVars($palette, $prefix) {
  $newMap: ();
  @each $name, $color in $palette {
    @if type-of($color) == map {
      $newMap: map.merge($newMap, paletteToCSSVars($color, $prefix + '-' + $name));
    } @else if alpha($color) < 1 {
      $newMap: map.merge(
        $newMap,
        (#{$prefix + '-' + $name}: hexToRGB($color), #{$prefix + '-' + $name + '-alpha'}: alpha($color))
      );
    } @else {
      $newMap: map.merge($newMap, (#{$prefix + '-' + $name}: hexToRGB($color)));
    }
  }
  @return $newMap;
}

@function paletteToPaletteCssVars($palette, $prefix) {
  $newMap: ();
  @each $name, $color in $palette {
    @if type-of($color) == map {
      $newMap: map.merge(
        $newMap,
        (
          $name: paletteToPaletteCssVars($color, $prefix + '-' + $name)
        )
      );
    } @else {
      $newMap: map.merge(
        $newMap,
        (
          $name: var(#{$prefix + '-' + $name})
        )
      );
    }
  }
  @return $newMap;
}

@function getTheme(
  $is-dark,
  $primary-palette,
  $accent-palette,
  $warn-palette,
  $foreground-palette,
  $background-palette
) {
  @return (
    primary: mat.m2-define-palette($primary-palette),
    accent: mat.m2-define-palette($accent-palette, 600, 400, 700),
    warn: mat.m2-define-palette($warn-palette),
    is-dark: $is-dark,
    test: $is-dark,
    foreground: $foreground-palette,
    background: $background-palette
  );
}

@function getCssVarsAndTheme(
  $is-dark,
  $primary-palette,
  $accent-palette,
  $warn-palette,
  $foreground-palette,
  $background-palette
) {
  $primary-css-vars: preparePaletteToUseCSSVars($primary-palette, '--palette-primary') !default;
  $accent-css-vars: preparePaletteToUseCSSVars($accent-palette, '--palette-accent') !default;
  $warn-css-vars: preparePaletteToUseCSSVars($warn-palette, '--palette-warn') !default;
  $foreground-css-vars: preparePaletteToUseCSSVars($foreground-palette, '--palette-foreground') !default;
  $background-css-vars: preparePaletteToUseCSSVars($background-palette, '--palette-background') !default;

  // Inject CSS vars in :root
  $cssVars: ();
  $cssVars: map.merge($cssVars, map.get($primary-css-vars, variables));
  $cssVars: map.merge($cssVars, map.get($accent-css-vars, variables));
  $cssVars: map.merge($cssVars, map.get($warn-css-vars, variables));
  $cssVars: map.merge($cssVars, map.get($background-css-vars, variables));
  $cssVars: map.merge($cssVars, map.get($foreground-css-vars, variables));

  // Create palette with custom CSS props (var(--something))
  $theme: (
    primary: mat.m2-define-palette(map.get($primary-css-vars, palette)),
    accent: mat.m2-define-palette(map.get($accent-css-vars, palette), 600, 400, 700),
    warn: mat.m2-define-palette(map.get($warn-css-vars, palette)),
    is-dark: $is-dark,
    foreground: map.get($foreground-css-vars, palette),
    background: map.get($background-css-vars, palette)
  );

  @return (cssVars: $cssVars, theme: $theme);
}
